[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
  TS_NODE_TRANSPILE_ONLY = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/progressier.js"
  to = "/dist/progressier.js"
  status = 200
